body {
  background-color: #f2ede7;
  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.banner {
    height: 200px;
   background-color: #cbb9a3;
    background-image: url("../Images/pinkgrass.jpg") ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    text-align: right;
    border: solid 3px;
    border-color:#5b4235;
}

.banner-text {
    color: #5b4235;
    background-color: #f4cec3;
    margin: 60px 30px 15px 0;
    padding: 4px;
    display: inline-block;
    font-family: cursive;
    font-weight: bold;
    font-size: 65px;
}

header {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    background-color:#efe5e3;
    font-size: 30px;  
    border: solid 3px;
    border-color:#5b4235;
}

.header-text {
    color: #fffff1;
    background-color: #5b4235;
    border: dashed 2px;
    border-color: #f4cec3;
    margin: 5px 0 5px 0;
    padding: 4px 20px 4px 20px;
    display: inline-block;
    font-size: 35px;
}

.nav-list {
    text-decoration: none;
    padding: 14px 16px; 
    overflow: hidden;
}

.nav-list a {
    font-size: 20px;
    text-decoration: underline;
    color: #5b4235;
    float: right;
    display: block;
    text-align: right;
    padding: 10px 15px; 
    text-underline-offset: 0.5em;
}

.nav-list li{
    display: inline-block;
}

/* When the mouse hovers over this text it will appear bolder */
.nav-list a:hover {
    font-weight: bolder;
}

h1{
    text-transform: lowercase;
    color: #c58e6f;
    padding-left: 60px;
    text-align: left;
    justify-content: center;
    font-size: 150%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}


h2 {
    color: #f6bbaa;
    padding-left: 60px;
    text-align: right;
    justify-content: center;
    font-size: 200%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

main{
    display: flex;
    flex: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
}

aside {
    display: flex;
    flex: 10%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px; 
    margin: 15px 15px 5px 15px;
    float: left;
    border-right: solid 3px#5b4235;  
}

.section1 { 
    display: flex;
    flex: 80%;
    flex-direction:row;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    margin: 25px;
}

.aboutme {
    display: flex;
    flex-wrap: wrap;
    flex: 85%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #5b4235;
    padding: 10px 10px 10px 10px;
    margin: 10px;
}

.image1 {

    width: 40%;
    height: 40%;
    border: solid #c58e6f 4px;
    
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  width: 100%;
  height: 800px;
  padding: 20px 10px 40px 10px;
  margin: 10px;
}

.card {
  flex: 100%;
  background-color: #f0d4c3;
  border: solid 3px;
  border-color: #c58e6f;
  color:#5b4235;
  height: 50%;
  margin: 4px;
  padding: 4px;
  position: relative;   
}

.card img {
    width: 100%;
    margin: auto;
    height: auto; 
    object-fit: cover; 
    display: block;
    max-height: 100%;
    opacity: 0.7;
    filter: sepia(0%)
}

.card img:hover {
    opacity: 1;
    filter: sepia(60%);

}

.column {
  flex: 48%;
  background-color: #f0d4c3;
  border: solid 3px;
  border-color: #c58e6f;
  color: #5b4235;
  margin: 4px;
  padding: 4px;
  height: 25%;
  position: relative;
}

.column img {
    width: 100%;
    margin: auto;
    height: auto; 
    object-fit: cover; 
    display: block;
    max-height: 100%;
    opacity: 0.7;
    filter: sepia(0%);
}

.column img:hover {
    opacity: 1;
    filter: sepia(60%);
}

/* this div is used as a text box within the image links and are positiond absolute to the cards that they are in */
div  {
    display: inline-block;
    text-align:left;
    background-color: #deceb9;
    margin: 5px;
    padding: 10px;
    position: absolute;
    left: 0px;
    bottom: 10px;  
}

div h3 {
    font-size: 20px;
    font-weight: bold;
}


div p {
    font-size: 12px;
    padding: 10px 0 2px 5px;
    margin: 5;
}

footer { 
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    margin: 10px;
}

.nav-bottom {
    display: flex;
    flex-direction: row;
    flex: 100%;
    justify-content:space-around;
    list-style-type: none;
    padding: 10px 10px 10px 10px; 
}
    
 .nav-bottom ul{
    display: flex;
    flex-direction: row;
    flex: 100%;
    justify-content:space-around;
} 

 .nav-bottom li {
    display: inline-block;
    text-decoration: underline;
    color: #5b4235;
    font-size: 20px;
    padding: 25px; 
    text-underline-offset: 0.5em; 
}

.nav-bottom a {
    color:#5b4235;     
}

.nav-bottom a:hover {
    color: #fffff1;
    background-color: #f6bbaa;
}

/* as the screen is reduced in size smaller than 980px, the elements will adjust to display in columns rather than rows, 
some phots will enlarge as others will shrink. This will give it a cleaner view */
@media screen and (max-width: 980px){
    header { 
        flex-direction: column;
        height: 150px;
        padding: 0 20px 20px 20px;
    }
    .header-text {
        font-size: 50px;
    }
    .section1 {
        flex-direction: column;
    }
    .image1 {
        width: 60%;
        height: 60%;
        align-self: center;
    }
    aside {
        border-right: 0;  
        border-bottom: solid 3px #5b4235;
    } 
    footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    header { 
        flex-direction: column;
        height: 200px;
        padding: 0 20px 20px 20px;
    }
    .nav-list {
        padding: 5px;
    }
   
    .image1 {
        width: 60%;
        height: 60%;
        align-self: center;
    }
    .aboutme {
        text-align: center;
    }
    .card {
        height: 20%;
    }
    .column{
        flex: 100%;
        height: 20%;
    }
    .nav-bottom ul {
        flex-direction: column;
    }

    .nav-bottom li {
        padding: 5px;
    }   
}
